@charset "utf-8";@import url('fonts.css');*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top2{margin-top:2px;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top18{margin-top:18px;}
.top20{margin-top:20px;}
.top25{margin-top:25px !important;;}
.top30{margin-top:30px !important;;}
.top35{margin-top:35px !important;;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top95{margin-top:95px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top115{margin-top:115px;}
.top120{margin-top:120px;}
.top150{margin-top:150px;}
.top170{margin-top:170px;}
.top190{margin-top:190px;}
.top195{margin-top:195px;}
.top200{margin-top:200px;}
.top210{margin-top:210px;}
.top220{margin-top:220px;}
.top240{margin-top:240px;}
.top270{margin-top:270px;}
.top300{margin-top:300px;}
.top320{margin-top:320px;}
.top350{margin-top:350px;}
.top395{margin-top:395px;}
.top400{margin-top:400px;}
.top560{margin-top:560px;}
.top590{margin-top:590px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom90{margin-bottom:90px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.bottom180{margin-bottom:180px;}
.bottom200{margin-bottom:200px;}
.bottom210{margin-bottom:210px;}
.bottom280{margin-bottom:280px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left210{margin-left:210px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}
.right210{margin-right:210px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt300{padding-top:300px;}
.pl5{padding-left:5px;!important}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr0{padding-right:0px;!important}}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.pg0{padding:0px;}
.pg10{padding:10px;}
.pg20{padding:20px;}
.br0{border-radius: 0px;}
.container{width:1170px !important;}
.padding0{padding:0px !important;}
.input100{width:100% !important;}
.lato-black{font-family:"Lato Black";}
.fontMyriad{font-family:'MyriadPro-Regular';}
.relative{position:relative;}
body{font-weight:400 !important;font-family:'Lato', sans-serif;}
h1{font-size:20px;color:#000;font-weight:400;}
h1 span{}
h2{font-weight:400 !important;font-size:30px;color:#c20102;}
h2 span{}
h3{font-size:30px;color:#010101;}
h3 span{}
h4{color:#000000;font-size:29px;font-weight:100;}
h4 span{font-family:"Lato Black";font-size:62px;}
h5{font-size:15px;color:#000;line-height:17px !important;}
h5 span{}
h6{font-weight:300;color:#000;font-size:30px;text-decoration:underline:;}
h6 span{}
p{font-weight:300;font-size:20px;color:#000;text-align:justify;}
a:hover{text-decoration:none !important;}
input,
select,
textarea{border:1px solid #000;min-height:40px;color:#000;border-radius:0px;}
::-webkit-input-placeholder{color:#eb4c77 !important;font-weight:400;font-size:12px;}
:-moz-placeholder{color:#eb4c77 !important;font-weight:400;font-size:12px;}
::-moz-placeholder{color:#eb4c77 !important;font-weight:400;font-size:12px;}
:-ms-input-placeholder{color:#eb4c77 !important;font-weight:100;font-size:12px;}
.rodape{background:url('../imgs/bg-rodape.jpg') top center no-repeat;height:599px;}
.rodape-preto{background:#000;}
.rodape-preto h5{font-size:20px;color:#fff;font-weight:300;}
.menu-rodape li a{color:#283239;font-size:20px;font-weight:300;margin-right:20px;}
.menu-rodape li a:hover, .menu-rodape li a.active{font-weight:400;}
.menu-rodape{list-style:none;padding:0px;}
.bg-menu-rodape{border-bottom:1px solid #fff;padding-bottom:15px;}
.menu-rodape li{float:left;}
.rodape p{color:#010101;font-size:30px;font-weight:700;}
.pesquisa .stylish-input-group .input-group-addon{border:1px solid #000;border-left:0px;background:#fff !important;}
.pesquisa{padding-top:10px !important;padding-bottom:6px !important;}
.pesquisa .stylish-input-group .form-control{color:#000;border-right:0px !important;box-shadow:0 0 0;background:#fff !important;}
.pesquisa .stylish-input-group button{font-size:20px;border:0;background:#fff !important;}
.contatos .media{margin-top:25px;}
.bg_menu{height:92px;margin-top:-71px;background:url(../imgs/bg_menu_topo.png) center top no-repeat;}
.menu_topo{list-style:none;}
.menu_topo li{float:left;}
.menu_topo li:first-child{margin-left:0px !important;}
.menu_topo li a{padding-top:5px;color:#010101;font-size:20px;font-weight:300;margin-left:12px;}
.menu_topo li a:hover{font-weight:400;border-top:2px solid #eb4c77;}
.menu_topo li.active a{font-weight:700;border-top:2px solid #eb4c77;}
.lista-categorias li a, .lista-categorias li a:hover{width:90px;line-height:13px;height:80px;overflow:hidden;background:url(../imgs/fundo_transparente.png);margin-left:7px;font-weight:400;font-size:11px;color:#fff;}
.lista-categorias-submenu{background:none;padding:0px;margin:0px;}
.lista-categorias-submenu li a, .lista-categorias-submenu li a:hover{width:100%;line-height:13px;height:40px;display:block;overflow:hidden;background:url(../imgs/fundo_transparente.png);font-weight:400;font-size:11px;color:#fff;margin:0px;}
.lista-categorias-submenu li, .lista-categorias-submenu li a{width:100%;border-bottom:1px solid #EB4C77;margin:0px;background:#D3446A;}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{background:url(../imgs/fundo_transparente.png);}
.btn_carrinho,
.btn_carrinho:hover,
.btn_carrinho:active,
.btn_carrinho:focus{padding:0px;border-radius:0px;border:none !important;background:#652133 url(../imgs/icon_carrinho.png) center no-repeat;height:82px;}
.badge{padding:7px 7px;font-size:14px;font-weight:400;color:#000;background:#fff;border-radius:4px;top:4px !important;left:86px;}
.topo-meu-orcamento{background:#fff;width:470px;padding:0px 10px;}
.btn-vermelho{border-radius:0px;font-size:17px;padding:10px 20px;background:#ed1f1f;color:#fff;}
.fundo_cinza_escuro{-webkit-box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.43);-moz-box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.43);box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.43);background:#283239;}
.btn_transparente_entrega{color:#000;font-size:12px;padding:4px 12px !important;border:2px solid #000;text-align:right;}
.bottoes_entrega{position:relative;}
.posicao_entrega{width:70px;height:70px;background:url('../imgs/icon_entrega01.png') no-repeat scroll left center transparent;left:-1px;position:absolute;top:-12px;}
.posicao_entrega01{width:70px;height:70px;background:url('../imgs/icon_entrega02.png') no-repeat scroll left center transparent;left:-3px;position:absolute;top:-12px;}
.btn_transparente_entrega span{font-size:17px;line-height:17px;}
.subir_forma_entregas{margin-top:-88px;}
.effect2{position:relative;}
.effect2:before, .effect2:after{z-index:-1;position:absolute;content:"";bottom:15px;left:10px;width:50%;top:80%;max-width:300px;background:#777;box-shadow:0 15px 10px #777;transform:rotate(-3deg);}
.effect2:after{transform:rotate(3deg);right:10px;left:auto;}
.fundo-cinza{background:rgba(255,255,255,1);background:-moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(26%, rgba(255,255,255,1)), color-stop(89%, rgba(209,209,209,1)), color-stop(100%, rgba(201,201,201,1)));background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);background:-o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);background:-ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=1);}
#container_banner{width:100%;height:896px;margin:0px auto;overflow:hidden;position:relative;}
#content_slider{width:1920px;height:896px;overflow:hidden;position:absolute;margin-left:-960px;top:0px;left:50%;}
.pagina{width:1170px;position:absolute;margin-left:-585px;left:50%;top:0px;z-index:10;}
.container_banner_faixa{width:100%;height:192px;background:url(../imgs/faixa-slider.png) top center no-repeat;position:absolute;bottom:0px;z-index:100;}
#content-slider-1 .rsTabs{width:200px;height:50px;z-index:9999;position:absolute;right:0px;left:20%;margin-left:0px;top:640px;}
#content-slider-1 .rsNavItem{background:#7b6363;width:33px;height:33px;float:left;margin-right:10px;cursor:pointer;border-radius:50%;}
#content-slider-1 .rsNavSelected{background:#000;}
.bootstrap-select>.dropdown-toggle,.bootstrap-select>.dropdown-toggle:hover{height:54px;border:2px solid #000;border-radius:0px;font-weight:700;color:#000;font-size:20px;background:none;width:100%;}
.menu_produtos_home{padding-bottom:66px;border-bottom:1px solid #eb4c77;list-style:none;}
.menu_produtos_home li{float:left;}
.menu_produtos_home li a{padding-top:5px;color:#010101;font-size:20px;font-weight:300;margin-right:40px;}
.menu_produtos_home li a:hover{font-weight:400;border-bottom:10px solid #eb4c77;}
.menu_produtos_home li.active a{font-weight:700;border-bottom:10px solid #eb4c77;}
.btn_produtos_home{padding:10px 12px;background:#eb4c77;color:#fff;width:270px;border-radius:0px;font-size:20px;font-weight:700;}
.btn_produtos_home:hover{background:#97354d;color:#fff;}
.produtos_home h1{overflow:hidden !important;height:49px !important;}
.produtos_home h3{font-weight:700 !important;font-size:30px !important;color:#eb4c77 !important;}
.barra_transparente_mensagens{width:100%;height:98px;position:absolute;bottom:0px;background:url(../imgs/nossas_promocoes.png) bottom no-repeat;}
.carroucel-home{bottom:-45px;}
.carroucel-home li{border-radius:50px;margin:0px !important;width:23px;height:23px;background:#000000;opacity:0.2;}
.carroucel-home li.active{margin:0px !important;width:23px;height:23px;background:#000000;opacity:1;}
.sugestoes_home h3{text-align:right;font-weight:300;font-size:24px;color:#000;}
.sugestoes_home h3 span{font-weight:700;font-size:45px;border-bottom:3px solid #eb4c77;}
.sugestoes_home p{font-weight:400;font-size:18px;}
blockquote{padding:5px 10px;margin:0 0 20px;border-left:9px solid #eb4c77;}
.bg_conheca_mais{height:578px;background:url(../imgs/bg_conheca_mais_home.jpg) top center no-repeat;}
.bg_conheca_mais h2,.produtos_destaques h2{font-weight:300;font-size:25px;color:#000;}
.bg_conheca_mais h2 span,.produtos_destaques h2 span{font-family:"Lato Black";font-size:50px;color:#000;}
.fundo-formulario span{font-weight:400;font-size:15px !important;font-family:'Lato', sans-serif;}
.bg_conheca_mais p{overflow:hidden;height:138px;}
.btn_transparente_saiba{width:270px;line-height:70px;font-weight:300;color:#000;font-size:25px;padding:0px 12px !important;border:1px solid #000;}
.bg_fundo_internas input,.bg_fundo_internas textarea{border:0px !important;}
.promocoes img{border-radius:10px;border:10px solid #000;}
.promocoes p{font-size:24px;font-weight:400;}
.bg_fundo_internas{background:url(../imgs/bg-fundo-internas.jpg) top center no-repeat;}
.produtos_cat h1{font-size:34px;color:#000;}
.produtos_cat h2{font-size:45px;color:#000;text-decoration:underline;}
.stylish-input-group .input-group-addon{border:2px solid #000 !important;border-left:0px !important;height:54px;background:#fff !important;}
.stylish-input-group .form-control{font-size:17px;color:#000;height:54px;border-radius:0px;border:2px solid #000 !important;border-right:0px !important;background:#fff !important;}
.stylish-input-group button{font-size:20px;border:0;background:#fff !important;}
.borda_rosa{border-bottom:1px solid #eb4c77;}
.produtos_dentro_descricao li{margin-bottom:18px;}
.produtos_dentro_descricao li.active a{background:#eb4c77;}
.produtos_dentro_descricao li a,
.produtos_dentro_descricao li a:hover,
.produtos_dentro_descricao li.active a:hover{padding:18px 0px;font-size:24px;font-weight:700;color:#fff;height:70px;border-radius:0px;background:#6b4949;}
.descricao_produtos h1{font-size:30px;height:70px;overflow:hidden;}
.descricao_produtos h2{font-size:30px;color:#c20102;margin-top:-4px;}
.descricao_produtos p{font-weight:400;margin-top:-5px;}
.btn-comprar{background:#EB4C77;padding:18px 0px;font-size:24px;font-weight:700;color:#fff;height:70px;border-radius:0px;}
.btn-comprar:hover{color:#fff;background:#6b4949;}
.tb-lista-itens tbody, .tb-lista-itens table{border-bottom:1px solid #eb4c77 !important;background:none;}
.tb-lista-itens td{font-weight:400;color:#000;font-size:19px;vertical-align:middle !important;}
.tb-lista-itens td h3{margin-top:15px;color:#c20102;font-size:30px;vertical-align:middle !important;}
.tb-lista-itens td h2{margin-top:15px;color:#000;font-size:14px;vertical-align:middle !important;}
.tb-lista-itens input{border:0px !important;width:45px;background:#e3e3e3;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:0px;min-height:30px !important;}
.contatos h3 span{font-size:15px;}
.contatos h3{font-size:21px;}
.contatos i{font-size:28px;}
.carrinho_total input{padding-left:7px;text-align:left;width:270px;height:59px;background:#E3E3E3;border-radius:0px;}
.carrinho_total p{color:#c20102;}
.btn-rosa1{width:370px;line-height:56px;background:#eb4c77;color:#fff;font-size:25px;font-weight:700;border-radius:0px;}
.btn-rosa1:hover{background:#97354d;color:#fff;}
.fundo-form1{background:#fff;color:#eb4c77 !important;font-weight:400;font-size:12px;}
.fundo-formulario{background:#f3f3f3;}
.input-rosa{background:#EB4C77 !important;line-height:60px !important;color:#fff !important;font-size:25px !important;font-weight:700 !important;border-radius:0px !important;width:auto !important;padding-right:10px !important;padding-left:10px !important;}
.input-rosa:hover{background:#97354d !important;color:#fff !important;}
.input-cinza1{line-height:60px !important;background:#97354d !important;color:#fff !important;font-size:25px !important;font-weight:700 !important;border-radius:0px !important;width:auto !important;padding-right:10px !important;padding-left:10px !important;}
.input-cinza1:hover{background:#EB4C77 !important;color:#fff !important;}
.media-left, .media-right, .media-body{display:table-cell;vertical-align:middle;}
.carrinho_formas li{position:relative;margin-bottom:18px;}
.carrinho_formas span{position:absolute;top:0px;left:0px;background:#000;padding:19px 30px;border-radius:0px 50px 50px 0px;}
.carrinho_formas .fa{position:absolute;top:23px;right:10px;float:left;width:20px;height:20px;}
.carrinho_formas li.active{opacity:1;background:#eb4c77;}
.carrinho_formas li,
.carrinho_formas li.active li:hover{padding:17px 0px 20px 100px;font-size:22px;font-weight:700;color:#fff;height:70px;border-radius:0px;opacity:0.5;background:#eb4c77;}
.local{line-height:20px;}
.local span{height:70px;}
#accordion .panel-heading{padding:0;}
#accordion .panel-title > a{display:block;padding:0.4em 0.6em;outline:none;font-weight:bold;text-decoration:none;}
.acording span{font-size:16px;color:#eb4c77;font-weight:400;}
.panel-default>.panel-heading{color:#333;background:none;border:0px;height:40px;border-radius:0px;}
.panel-group{background:#f2f2f2;margin-bottom:20px;}
#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before{content:"\e113";float:right;color:#eb4c77;margin-top:7px;font-family:'Glyphicons Halflings';margin-right:1em;}
#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before{content:"\e114";}
.acording b{border-radius:50px;padding:12px 25px;background:#e74d76;color:#fff;font-size:31px;}
.acording h3,.panel-heading span{font-weight:400;color:#000;font-size:14px;}
.fa-check:before{color:#00f600;content:"\f00c";}
.linha-titulo{border-left:10px solid #eb4c77;padding-left:20px;}
.detalhe-unaflor{height:290px;overflow:auto;}
.icon-telefone{background:url("../imgs/icon-telefone.png") left center no-repeat;padding-left:50px;padding-bottom:10px;}
.lista-categorias-rodape li{float:left;margin-right:10px;}
.lista-categorias-rodape li a{width:90px;height:80px;display:table-cell;background:url("../imgs/bg-fundo-categorias.png");color:#fff;font-size:12px;text-align:center;vertical-align:middle;}
.direitos{color:#fff;}
.btn-rosa{background:#eb4c77;border-radius:0px;}
.btn-formulario,
.btn-formulario:hover{line-height:34px;background:#eb4c77;color:#fff;font-size:20px;font-weight:700;border-radius:0px;}
.btn-formulario:hover{background:#97354d;color:#fff;border-radius:0px;}
.fundo_formulario_fale{background:#fff;overflow:hidden;color:#eb4c77;}
.fundo_formulario_fale input,.fundo_formulario_fale textarea{border:2px solid #eb4c77 !important;border-radius:0px;font-size:20px;color:#eb4c77;}
.input-cinza{padding-left:7px;text-align:left;width:270px;height:59px;background:#E3E3E3;border-radius:0px;}
.btn-rosa-default{background:#EB4C77;color:#fff;}
.btn-rosa-default:hover{background:#652133;color:#fff;}
.usuario-topo{color:#D3446A;font-size:30px;}
.menu-topo-usuario a{font-size:18px !important;line-height:33px !important;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background:#fff;color:#eb4c77 !important;font-weight:400;font-size:12px;}
.titulo-mensagem{background:#EB4C77;color:#fff;}
.modal-rodape p{font-weight:300;font-size:20px;color:#000;text-align:justify;}
.telefone-rodape span{font-size:20px;}
.sugestao p{overflow:hidden;font-weight:400;color:#fff;}
.sugestao{background:#eb4c77;}
.select-bairros{height:54px;border:2px solid #000;border-radius:0px;font-weight:700;color:#000;font-size:20px;background:none;width:100%;}
.div_personalizada{padding-top:0px !important;padding-bottom:0px !important;}
.categorias_home .list-group-item:first-child,
.categorias_home .list-group-item:last-child{border-top-left-radius:0px !important;border-top-right-radius:0px !important;}
.categorias_home .list-group-item.active,
.categorias_home .list-group-item.active:hover,
.categorias_home .list-group-item.active:focus{z-index:2;color:#fff;font-size:17px;border:0px;background:#EB4C77 url(../imgs/icon_categoria.png) right 5px center no-repeat;padding-right:45px;}
.categorias_home a.list-group-item{color:#EB4C77;font-size:17px;background:whitesmoke;padding-right:45px;}
.categorias_home a.list-group-item:hover,
.categorias_home a.list-group-item:focus{color:#fff;text-decoration:none;background:#EB4C77 url(../imgs/icon_categoria.png) right 5px center no-repeat;padding-right:45px;}
.categorias_home .list-group-item{border:none;}
.categorias_home .list-group{-webkit-box-shadow:0 10px 13px -6px black;-moz-box-shadow:0 10px 13px -6px black;box-shadow:0 10px 13px -6px black;}
.categorias_home blockquote{padding:0px 5px;margin:0 -15px 0;border-left:9px solid #eb4c77;}
.barra_rosa{position:absolute;top:60px;width:97%;padding-bottom:10px;border-bottom:2px solid #eb4c77;}
.produtos_destaques_home h1{font-size:30px;color:#eb4c77;font-weight:700;}
.data_div{visibility: hidden;}
.input-group-addon{
  background: #fff;
  border: 0;
}


.btn-produto-esgotado, .btn-produto-esgotado:hover{
  background-color: #c9302c;
    border-color: #ac2925;
    display: block;
    width: 100%;
    padding: 13px;
    color: #fff;
    text-align: center;
    font-weight: bold !important;
}