@charset "utf-8";@import url('./fonts.css');*{margin:0;padding:0;text-decoration:none;}
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top12{margin-top:12px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px;}
.top30{margin-top:30px;}
.top35{margin-top:35px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top110{margin-top:110px;}
.top130{margin-top:130px;}
.top140{margin-top:140px;}
.top150{margin-top:150px;}
.top155{margin-top:155px;}
.top160{margin-top:160px;}
.top170{margin-top:170px;}
.top180{margin-top:180px;}
.top190{margin-top:190px;}
.top195{margin-top:195px;}
.top200{margin-top:200px;}
.top205{margin-top:205px;}
.top210{margin-top:210px;}
.top230{margin-top:230px;}
.top250{margin-top:250px;}
.top260{margin-top:260px;}
.top270{margin-top:270px;}
.top330{margin-top:330px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left130{margin-left:130px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right130{margin-right:130px;}
.right230{margin-right:230px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt170{padding-top:170px;}
.pt190{padding-top:190px;}
.pt200{padding-top:200px;}
.pt300{padding-top:300px;}
.pl5{padding-left:5px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb190{padding-bottom:190px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.pg0{padding:0px;}
.pg10{padding:10px;}
.pg20{padding:20px;}
.pg60{padding:60px;}
.container{max-width:480px;}
.input100{width:100% !important;}
body{font-weight:400;font-family:'Lato', sans-serif;}
.padding0{padding:0px !important;}
.lato-black{font-family:"Lato Black";}
h1{color:#000;font-size:17px;font-weight:400;}
h1 span{font-size:30px;font-weight:700;}
h2{font-size:23px;color:#c20102;font-weight:400;}
h2 span{}
h3{}
h3 span{}
h4{}
h4 span{}
h5{font-weight:400;color:#000;font-size:14px;}
h5 span{}
h6{font-weight:300;color:#000;font-size:25px;text-decoration:underline;}
p{color:#000;font-size:15px;text-align:justify;}
p span{color:#fff;}
a:hover{text-decoration:none;}
input,
textarea{border:1px solid #000;min-height:40px;color:#000;border-radius:0px;}
select{color:#eb4c77 !important; font-size:9px !important;font-weight:400;}
::-webkit-input-placeholder{color:#eb4c77 !important;font-weight:400;font-size:12px;}
:-moz-placeholder{color:#eb4c77 !important;font-weight:400;font-size:12px;}
::-moz-placeholder{color:#eb4c77 !important;font-weight:400;font-size:12px;}
:-ms-input-placeholder{color:#eb4c77 !important;font-weight:100;font-size:12px;}
.bg-fundo-preto{position:relative;background:#000;}
.bg-fundo-preto p{color:#fff;font-weight:700;padding:10px 0px;text-align:center;}
.logo{position:relative;z-index:10;}
.btn-tel-topo{background:#eb4c77;border-radius:0px;color:#fff;padding:2px 5px;}
.top-btn-topo{margin-top:2px;}
.topo h1{color:#010101;font-size:18px;font-weight:700;}
.topo h1 span{font-size:13px;font-weight:300;}
.menu{height:70px;background:#e54a74;}
.bg-menu{background:url(../imgs/bg-menu.png) bottom center no-repeat;padding-bottom:7px;margin-top:-52px;}
.select-menu{background:url(../imgs/bg-select-menu.jpg) center no-repeat;-moz-appearance:none;-webkit-appearance:none;appearance:none;}
.btn_pesquisas_topo{background:#74253b;height:70px;border-radius:0px;color:#fff;line-height:53px;}
.form_busca_topo, .topo-meu-orcamento{width:280px;background:#E54A74;}
.btn-finaliza-orcamento,.btn-finaliza-orcamento:hover{color:#fff;padding:9px 12px;background:#74253B;}
.effect2{position:relative;}
.effect2:before, .effect2:after{background:#777;bottom:12px;box-shadow:0 15px 10px #777;content:"";left:1px;max-width:300px;position:absolute;top:63%;transform:rotate(-3deg);width:50%;z-index:-1;}
.effect2:after{transform:rotate(3deg);right:1px;left:auto;}
.fundo-cinza{background:rgba(255,255,255,1);background:-moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(26%, rgba(255,255,255,1)), color-stop(89%, rgba(209,209,209,1)), color-stop(100%, rgba(201,201,201,1)));background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);background:-o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);background:-ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=1);}
.container_banner_faixa{width:100%;height:50px;background:url(../imgs/faixa-slider.png) top center no-repeat;position:absolute;bottom:-1px;z-index:10;}
.carroucel-home .carousel{height:421px;}
.carroucel-home .carousel-caption{text-align:left;z-index:10;bottom:0px;}
.carroucel-home .carousel .item{height:421px;}
.carroucel-home .carousel-inner > .item > img{position:absolute;top:0;left:0;width:100%;height:421px;}
.carroucel-home{position:relative;z-index:-1;}
.carroucel-home .carousel-caption{top:10px;right:0px;left:0px;}
.carroucel-home .carousel-control{opacity:1;color:#000;top:164px;width:7%;z-index:999;}
.carroucel-home .glyphicon-chevron-right{right:40px;}
.carroucel-home .glyphicon-chevron-left{left:331px;}
.carroucel-home .carousel-control:hover{color:#000;opacity:0.5;}
.bottoes_entrega{position:relative;}
.btn_transparente_entrega{color:#000;font-size:12px;padding:4px 30px !important;border:2px solid #000;text-align:right;}
.btn_transparente_entrega span{font-size:17px;line-height:17px;}
.posicao_entrega{width:70px;height:70px;background:url('../imgs/icon_entrega01.png') no-repeat scroll left center transparent;left:13px;position:absolute;top:-12px;}
.posicao_entrega01{width:70px;height:70px;background:url('../imgs/icon_entrega02.png') no-repeat scroll left center transparent;left:1px;position:absolute;top:-12px;}
.bootstrap-select > .dropdown-toggle, .bootstrap-select > .dropdown-toggle:hover{height:54px;border-radius:0px;font-weight:700;color:#FFF;font-size:16px;background:#eb4c77 none repeat scroll 0% 0%;width:100%;}
.produtos_home h1{overflow:hidden;height:36px;}
.produtos_home h3{font-weight:700;font-size:20px;color:#eb4c77;}
.btn_produtos_home,
.btn_produtos_home:hover{padding:12px 12px;background:#eb4c77;color:#fff;width:210px;border-radius:0px;font-size:15px;font-weight:700;}
.relative{position:relative;}
.carroucel_mensagens{bottom:-33px;}
.carroucel_mensagens li{border-radius:50px;margin:0px !important;width:20px;height:20px;background:#000000;opacity:0.2;}
.carroucel_mensagens li.active{margin:0px !important;width:20px;height:20px;background:#000000;opacity:1;}
.barra_transparente_mensagens{width:100%;height:55px;position:absolute;bottom:0px;background:url(../imgs/nossas_promocoes.png) bottom no-repeat;}
.sugestoes_home h3{text-align:right;font-weight:300;font-size:20px;color:#000;}
.sugestoes_home h3 span{font-weight:700;font-size:37px;}
.sugestao p{overflow:hidden;font-weight:400;color:#fff;}
blockquote{padding:5px 10px;margin:0 0 20px;border-left:9px solid #eb4c77;}
.sugestao{background:#eb4c77;}
.barra_rosa{border-bottom:2px solid #eb4c77;}
.bg_conheca_mais{background:url(../imgs/bg_conheca_mais_home.jpg) top center no-repeat;}
.bg_conheca_mais h2,.produtos_destaques h2{font-weight:300;font-size:18px;color:#000;}
.bg_conheca_mais h2 span,.produtos_destaques h2 span{font-family:"Lato Black";font-size:42px;color:#000;}
.bg_conheca_mais p{overflow:hidden;max-height:250px;}
.btn_transparente_saiba{width:210px;line-height:58px;font-weight:300;color:#000;font-size:25px;padding:0px 12px !important;border:1px solid #000;}
.fa-facebook-square:before{color:#537bd3;content:"\f082";}
.fa-twitter-square:before{color:#5dbbd5;content:"\f082";}
.bg_conheca h2{font-weight:300;font-size:18px;color:#000;}
.bg_conheca h2 span{font-family:"Lato Black";font-size:42px;color:#000;}
.titulo_int h2{font-weight:300;font-size:18px;color:#000;}
.titulo_int h2 span{font-family:"Lato Black";font-size:37px;color:#000;}
.titulo_int_carrinho h2{font-weight:300;font-size:18px;color:#000;}
.titulo_int_carrinho h2 span{font-family:"Lato Black";font-size:29px;color:#000;}
.carrinho_formas li{position:relative;margin-bottom:18px;}
.carrinho_formas span{position:absolute;top:0px;left:0px;background:#000;padding:17px 30px;border-radius:0px 50px 50px 0px;}
.carrinho_formas .fa{position:absolute;top:23px;right:10px;float:left;width:20px;height:20px;}
.carrinho_formas li.active a{background:#eb4c77;}
.carrinho_formas li a,
.carrinho_formas li a:hover,
.carrinho_formas li.active a:hover{padding:17px 0px 20px 100px;font-size:15px;font-weight:700;color:#fff;padding-top:20px;height:55px;border-radius:0px;background:#eb4c77;}
.tb-lista-itens tr{border-bottom:1px solid #eb4c77 !important;}
.tb-lista-itens tbody tr td{vertical-align:middle !important;}
.tb-lista-itens td h2{color:#000;font-size:14px;}
.tb-lista-itens td h3{margin-top:15px;color:#c20102;font-size:20px;}
.tb-lista-itens input{border:0px !important;width:31px;background:#e3e3e3;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:0px;min-height:30px !important;}
.btn-rosa1,
.btn-rosa1:hover{width:210px;line-height:40px;background:#eb4c77;color:#fff;font-size:20px;font-weight:700;border-radius:0px;}
.carrinho_total h3{color:#c20102;font-weight:400;font-size:15px;}
.carrinho_total p span{color:#c20102;font-size:20px;font-weight:700;}
.fundo_formulario_fale{background:#fff;overflow:hidden;color:#eb4c77;}
.fundo_formulario_fale input,.fundo_formulario_fale textarea{border:2px solid #eb4c77 !important;border-radius:0px;font-size:17px;color:#eb4c77;}
.btn-formulario,
.btn-formulario:hover{line-height:34px;background:#eb4c77;color:#fff;font-size:20px;font-weight:700;border-radius:0px;}
.fundo-formulario span{font-weight:400;font-size:15px !important;font-family:'Lato', sans-serif;}
.fundo-formulario{overflow:hidden;background:#f3f3f3;}
.fundo-formulario input, .fundo-formulario textarea{border:0px !important;border-radius:0px;}
.local{line-height:15px;}
.local span{height:55px;}
#accordion .panel-heading{padding:0;}
#accordion .panel-title > a{display:block;padding:0.4em 0.6em;outline:none;font-weight:bold;text-decoration:none;}
.acording span{font-size:14px;color:#eb4c77;font-weight:400;}
.panel-default>.panel-heading{color:#333;background:none;border:0px;height:40px;border-radius:0px;}
.panel-group{background:#f2f2f2;margin-bottom:20px;}
#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before{content:"\e113";float:right;color:#eb4c77;margin-top:7px;font-family:'Glyphicons Halflings';margin-right:1em;}
#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before{content:"\e114";}
.acording b{border-radius:50px;padding:12px 25px;background:#e74d76;color:#fff;font-size:31px;}
.acording h3,.panel-heading span{font-weight:400;color:#000;font-size:12px;}
.fa-check:before{color:#00f600;content:"\f00c";}
.stylish-input-group .form-control{font-size:17px;color:#000;height:54px;border-radius:0px;border:2px solid #000 !important;border-right:0px !important;background:#fff !important;}
.stylish-input-group .input-group-addon{border:2px solid #000 !important;border-left:0px !important;height:54px;background:#fff !important;}
.stylish-input-group button{font-size:20px;border:0;background:#fff !important;}
.ordenar_por .bootstrap-select >.dropdown-toggle,
.ordenar_por .bootstrap-select >.dropdown-toggle:hover{height:54px;border-radius:0px;font-weight:700;color:#000;font-size:12px !important;background:none !important;width:100%;border:2px solid #000;}
.descricao_produtos h1{font-size:29px;}
.descricao_produtos h2{margin-top:5px;font-size:30px;color:#c20102;}
.descricao_produtos p{margin-top:5px;font-weight:400;}
.produtos_dentro_descricao li a,
.produtos_dentro_descricao li a:hover,
.produtos_dentro_descricao li.active a:hover{padding:16px 4px;font-size:13px;font-weight:700;color:#fff;height:53px;margin-right:20px;width:202px;border-radius:0px;background:#EB4C77;}
.produtos_dentro_descricao li.active a,
.produtos_dentro_descricao li.active a:hover{background:#eb4c77;}
.btn-comprar, .btn-comprar:hover{padding:16px 4px;font-size:13px;font-weight:700;color:#fff;height:53px;margin-right:20px;width:202px;border-radius:0px;background:#EB4C77;}
.btn-cinza{padding:16px 4px;font-size:13px;font-weight:700;color:#fff;height:53px;margin-right:20px;width:202px;border-radius:0px;background:#E3E3E3;}
.promocoes img{border-radius:15px;border:10px solid #000;}
.lista-itens-carrinho{overflow:hidden;border-bottom:2px solid #e5e5e5;margin-bottom:10px;padding-bottom:5px;}
.lista-itens-carrinho h1{color:#fff;font-size:13px;}
.titulo-mensagem{background:#EB4C77;color:#fff;}
.form_busca_topo .form-control{padding:0px 3px;}
.pagina{width:480px;position:absolute;margin-left:-240px;left:50%;top:0px;z-index:10;}
.select-bairros{height:54px;border:2px solid #000;border-radius:0px;font-weight:700;color:#000;font-size:20px;background:none;width:100%;}
.whatsappFixed{
    position: fixed;
    right: 0px;
    bottom: 50px;
    z-index: 9999;
    width: 50px;
    height: 50px;
}



.btn-produto-esgotado, .btn-produto-esgotado:hover{
    background-color: #c9302c;
      border-color: #ac2925;
      display: block;
      width: 100%;
      padding: 13px;
      color: #fff;
      text-align: center;
      font-weight: bold !important;
  }
